<h1>Create New Student</h1>
<%= form_with model: @student do |form| %>

    <%= form.label :Name %>
    <%= form.text_field :name %>
    <%= form.label :Father %>
    <%= form.text_field :father_name %>
    <%= form.label :classroom_id %>
    <%= form.text_field :classroom_id %>


  <%= form.submit %>
<% end %>